* {
  box-sizing: border-box;
}

/*body__typography start*/
:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  color: var(--color-black);
  font-family: var(--font-open-sans);
}

.container {
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 2.25rem;
  margin: 100px auto;
  text-align: center;
}


/*body__typography end*/
/*components__start*/
.logo {
  color: var(--color-primary);
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  padding-left: 136px;
  text-decoration: none;
}

.btn {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
  color: #ffffff;
  display: inline-block;
  font-family: var(--font-open-sans);
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 1.538em 7.461em;
  ;
  text-decoration: none;
  white-space: nowrap;
}

.btn--large {
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
  font-size: 1rem;
  max-width: 440px;
  padding: 1.375em 2.5em;
  width: 100%;
}

.btn--small {
  border: 1px solid transparent;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 1.23em 4.384em;
}

.input {}

.textarea {}

.checkbox {}

/* Components__end*/

/*common classes*/
/*header style start*/
.header {
  background: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}


.nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: end;
  margin-right: 136px;
}

.nav__menu__item {

  padding: 0 27px;
  transition: 0.3s;
}

.nav__menu__item:last-child {
  padding-right: 0;
}

.nav__menu__item__a {
  border-bottom: 4px solid transparent;
  color: var(--color-grey);
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  padding: 27px 17px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}

.nav__menu__item__a:hover {
  border-color: var(--color-primary);
  color: var(--color-black);
  cursor: pointer;
  font-weight: 700;
}

/*header end*/

/*hero section start*/
.hero {
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.hero-copy {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 22%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hero-copy__head {
  font-family: var(--font-raleway);
  font-size: 3.06rem;
}

.hero-copy__text {
  font-size: 1rem;
  line-height: 1.375;
  margin: 1.25rem auto 2.375rem;
}

.hero__image {
  height: auto;
  min-height: 55%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  width: 100%;
}

/*hero section stop*/

/*statisctics section start*/
.statistics__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 800px;

}

.circle_icon h4 {
  font-size: 1.25rem;
  margin-top: 13px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.circle_icon p {
  color: var(--color-grey);
  font-size: 1rem;
  margin-bottom: 149px;
  margin-top: 13px;
  text-align: center;
}

.circle_icon::before {
  background: var(--color-redish);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  content: '';
  height: 62.71px;
  position: absolute;
  width: 62.71px;
  z-index: -1;
}

.circle_icon img {
  height: 52px;
  margin-left: 30px;
  width: 44px;
}

.circle_icon:nth-child(2)::before {
  background: var(--color-primary);
}

.circle_icon:nth-child(3)::before {
  background: var(--color-green);
}

.circle_icon:nth-child(2) img {
  display: block;
  margin-top: 7px;
}

/*statistis section stop*/
/*benefits section start*/
.benefits {
  background: var(--color-light-grey);
  padding: 87px 0;
}

.benefits__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
}

.benefits__item {
  background: var(--color-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  flex: 1 1 auto;
  height: 370px;
  margin: 18px 30px 18px;
  overflow: hidden;
}

.benefits__item--wide {
  display: flex;
  width: 1124px;
}

.benefits__item--copy {
  width: 623px;
}

.benefits__item--media {
  height: auto;
  position: relative;
  width: 440px;
}

.benefits__item--media::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

.benefits__item--media img {
  height: 56%;
  margin-bottom: 62px;
  margin-left: 62px;
  max-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
  width: 67%;
}

.benefits__item__text {
  display: flex;
  flex: 0 1 476px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 50%;
  padding: 0 36px;
}

.benefits__item--copy .benefits__item__text {
  max-width: unset;
}

.benefits__item__text h2 {
  line-height: 1.16em;
  margin: 0 0 30px 0;
  text-align: left;
}

.benefits__item__text p {
  font-family: var(--font-open-sans);
  font-size: 1rem;
  line-height: 1.375em;
  padding-bottom: 50px;
  position: relative;
}

.benefits__item__text p::after {
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  max-width: 327px;
  position: absolute;
  width: 80%;
}

.benefits__item__image {
  flex: 1 1 auto;
  position: relative;
}

.benefits__item__image img {
  height: 100%;
  left: 50%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: auto;
}

.benefits__item__image--square::before {
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
  content: "";
  display: block;
  height: 200px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -60%) rotate(45deg);
  -webkit-transform: translate(0%, -60%) rotate(45deg);
  -moz-transform: translate(0%, -60%) rotate(45deg);
  -ms-transform: translate(0%, -60%) rotate(45deg);
  -o-transform: translate(0%, -60%) rotate(45deg);
  transform-origin: 50% 50%;
  width: 200px;
}

.benefits__item__image--square img {
  height: 219px;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
}

.benefits__item__image--circle::before {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  content: "";
  display: block;
  height: 320px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-75%, -55%);
  -webkit-transform: translate(-75%, -55%);
  -moz-transform: translate(-75%, -55%);
  -ms-transform: translate(-75%, -55%);
  -o-transform: translate(-75%, -55%);
  transform-origin: 50% 50%;
  width: 320px;
}

.benefits__item__image--circle img {
  height: 328px;
}

.btn--redish,
.benefits__item--red.benefits__item--media,
.benefits__item--red .benefits__item__image::before,
.benefits__item--red .benefits__item__text p::after {
  background-color: var(--color-redish);
}

.btn--primary,
.benefits__item--blue.benefits__item--media,
.benefits__item--blue .benefits__item__image::before,
.benefits__item--blue .benefits__item__text p::after {
  background-color: var(--color-primary);
}

.btn--green,
.benefits__item--green.benefits__item--media,
.benefits__item--green .benefits__item__image::before,
.benefits__item--green .benefits__item__text p::after {
  background-color: var(--color-green);
}

/*section benefits end*/
/*section price start*/
.pricing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
}

.pricing h2 {}

.pricing__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.pricing__wrapper__item {
  background: none;
  cursor: pointer;
  appearance: none;
  display: block;
  align-items: center;
  border: 1px solid;
  border-radius: 18px;
  box-shadow: 5px 10px 47px -26px transparent;
  display: flex;
  flex-direction: column;
  padding: 0 0 81px 0;
  position: relative;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  width: calc(1/3 * (100% - 116px));
}

.pricing__wrapper__item .btn {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.pricing__wrapper__item:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.pricing__wrapper__item h4 {
  font-family: var(--font-raleway);
  font-size: 1.3125rem;
  margin-top: 34px;
  font-weight: 600;
}

.pricing__price {
  font-size: 2.875rem;
  line-height: 2;
  font-weight: 300;
  margin-top: 14px;
  display: block;
  position: relative;
}

.pricing__price i {
  position: absolute;
  bottom: -5px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 600;
  color: var(--color-black);
  display: block;
}

.pricing__wrapper__item--redish {
  border-color: var(--color-redish);
}

.pricing__wrapper__item--redish .pricing__price {
  color: var(--color-redish);
}

.pricing__wrapper__item--redish:hover {
  box-shadow: 5px 10px 47px -26px var(--color-redish);
}

.pricing__wrapper__item--primary {
  border-color: var(--color-primary);
}

.pricing__wrapper__item--primary .pricing__price {
  color: var(--color-primary);
}

.pricing__wrapper__item--primary:hover {
  box-shadow: 5px 10px 47px -26px var(--color-primary);

}

.pricing__wrapper__item--green {
  border-color: var(--color-green);
}

.pricing__wrapper__item--green .pricing__price {
  color: var(--color-green);
}

.pricing__wrapper__item--green:hover {
  box-shadow: 5px 10px 47px -26px var(--color-green);
}

.pricing__offer {
  text-align: center;
  margin-top: 69px;
}

.pricing__offer li+li {
  margin-top: 20px;
}

.limited {
  font-family: var(--font-raleway);
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

.checked li,
.unchecked {
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.checked::before {
  background-image: url("../assets/Ckechmark-1.svg");
  color: black;
  content: "";
  display: inline-block;
  height: 11px;
  margin-right: 10px;
  width: 11px;
}

.unchecked::before {
  background-image: url("../assets/Close.svg");
  content: "";
  display: inline-block;
  height: 11px;
  margin-right: 10px;
  width: 11px;
}



/*section price end */
/*section contact start*/



/*section contact end*/


.contact {
  display: flex;
  font-family: var(--font-open-sans);
  justify-content: center;
  padding: 80px 100px 100px 80px;
}

.contact__data {
  align-items: center;
  color: var(--color-grey);
  display: flex;
  justify-content: flex-start;

}


.contact__leave_message {
  width: 50%;
}

.contact__header h3 {
  font-size: 3.06rem;
  margin-bottom: 22px;
}

.contact__header p {
  font-size: 1 rem;
  margin-bottom: 42px;

}

.contact__data a {
  color: var(--color-grey);
  font-size: 1rem;
  margin-right: 20px;
  text-decoration: none;
}

.form__label {
  color: var(--color-primary);
  font-family: var(--font-raleway);
  font-size: 0.687rem;
  letter-spacing: 3.28px;
  text-transform: uppercase;
}

form__input {}

.accept__text {
  color: #707070;
  font-size: 0.75rem;

}



/*section footer start*/

/*section footer end */