* {
  box-sizing: border-box;
}

/*body__typography start*/
:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  color: var(--color-black);
  font-family: var(--font-open-sans);
}

.container {
  margin: 0 auto;
  width: 100%;
}


/*body__typography end*/
/*components__start*/
.logo {
  color: var(--color-primary);
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  padding-left: 136px;
  text-decoration: none;
}

.btn {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);
  -ms-border-radius: var(--button-radius);
  -o-border-radius: var(--button-radius);
  color: #ffffff;
  display: inline-block;
  font-family: var(--font-open-sans);
  font-size: 0.8125rem;
  padding: 19px 97px;
  text-decoration: none;
  white-space: nowrap;
}

.btn--large {
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
  font-size: 1rem;
  max-width: 440px;
  padding: 1.375em 2.5em;
  width: 100%;
}

.btn--small {}

.input {}

.textarea {}

.checkbox {}

/* Components__end*/

/*common classes*/
/*header style start*/
.header {
  background: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.nav.container {}

.nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: end;
  margin-right: 136px;
}

.nav__menu__item {

  padding: 0 27px;
  transition: 0.3s;
}

.nav__menu__item:last-child {
  padding-right: 0;
}

.nav__menu__item a {
  border-bottom: 4px solid transparent;
  color: var(--color-grey);
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  padding: 27px 17px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;
}

.nav__menu__item__a:hover {
  border-color: var(--color-primary);
  color: var(--color-black);
  cursor: pointer;
  font-weight: 700;
}

/*header end*/

/*hero section start*/
.hero {
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.hero-copy {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 22%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hero-copy__head {
  font-family: var(--font-raleway);
  font-size: 3.06rem;
}

.hero-copy__text {
  font-size: 1rem;
  line-height: 1.375;
  margin: 1.25rem auto 2.375rem;
}

.hero__image {
  height: auto;
  min-height: 55%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  width: 100%;
}