.btn {
  background-color: $color-primary;
  border: 1px solid transparent;
  border-radius: $button-radius;
  -webkit-border-radius: $button-radius;
  -moz-border-radius: $button-radius;
  -ms-border-radius: $button-radius;
  -o-border-radius: $button-radius;
  color: #ffffff;
  display: inline-block;
  font-family: $font-open-sans;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 1.538em 7.461em;
  ;
  text-decoration: none;
  white-space: nowrap;
}

.btn--large {
  box-shadow: 3px 10px 14px $color-primary-shadow;
  font-size: 1rem;
  max-width: 440px;
  padding: 1.375em 2.5em;
  width: 100%;
}

.btn--small {
  border: 1px solid transparent;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 1.23em 4.384em;
}