.hero {
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.hero-copy {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 22%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hero-copy__head {
  font-family: $font-raleway;
  font-size: 3.06rem;
}

.hero-copy__text {
  font-size: 1rem;
  line-height: 1.375;
  margin: 1.25rem auto 2.375rem;
}

.hero__image {
  height: auto;
  min-height: 55%;
  object-fit: cover;
  position: absolute;
  top: 45%;
  width: 100%;
}