.header {
  background: $color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;

  &::after {
    background: $color-white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.logo {
  color: $color-primary;
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 64px;
  position: relative;
  text-decoration: none;
}

.hamburger {
  display: none;

  .bar {
    background-color: $color-primary;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
  }

  @include tablet {
    cursor: pointer;
    display: block;
    padding-right: 32px;
    position: relative;


    .active & {
      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}


.nav {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 136px;
  top: 43px;
  transform: translateY(-100%);

  @include tablet {
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 6px #00000029;
    flex-direction: column;
    height: 11rem;
    left: 0;
    position: fixed;
    text-align: center;
    top: 4.375rem;
    transition: transform 0.5s;
    width: 100%;
    z-index: -2;

    .active & {
      transform: translateY(0);
    }
  }
}

.nav__menu__item {
  padding: 0 27px;

  &:last-child {
    padding-right: 0;
  }

  @include tablet {
    padding: 0;
  }
}

.nav__menu__item__a {
  border-bottom: 4px solid transparent;
  color: $color-grey;
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  padding: 27px 17px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3;
  -webkit-transition: 0.3;
  -moz-transition: 0.3;
  -ms-transition: 0.3;
  -o-transition: 0.3;

  &:hover {
    border-color: $color-primary;
    color: $color-black;
    cursor: pointer;
    font-weight: 700;
  }

  @include tablet {
    display: block;
    padding: 14px 20px;
  }
}